version: "3.9"

services:
  db:
    image: postgis/postgis:16-3.4
    environment:
      POSTGRES_DB: QL_tour
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: TanMeo2005
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    env_file: .env
    build:
      context: ..
      dockerfile: QL_tour/Dockerfile
    volumes:
      - .:/app
    command: python manage.py runserver 0.0.0.0:8000
    ports: ["8000:8000"]
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
