<!doctype html>
{% extends 'share_layout.html' %} {% load static %} {% block content %}
<head>
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  />

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img
        src="{{ tour.thumbnail.url }}"
        alt="{{ tour.title }}"
        class="img-fluid rounded"
      />
    </div>
    <div class="col-md-6">
      <h1 class="display-4">{{ tour.title }}</h1>
      <p class="lead">{{ tour.description }}</p>
      <hr />
      <p><strong>Price:</strong> {{ tour.price }} Đồng</p>
      <p><strong>Duration:</strong> {{ tour.duration }} days</p>
      <a href="/bookings/create/{{ tour.id }}" class="btn btn-primary btn-lg"
        >Book Now</a
      >
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h2>Tour Highlights</h2>
      <ul>
        {% for highlight in tour.highlights %}
        <li>{{ highlight }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div style="display: flex; justify-content: center; margin-top: 40px;">
  <div id="map" style="height: 550px; width: 90%; max-width: 900px; border: 2px solid #007bff; border-radius: 8px;"></div>
</div>

<script src="{% static 'js/map_stops.js' %}"></script>
{% endblock %}
